.modal-header{
    display: flex !important;
    text-align: center !important;
    justify-content: space-around !important;
    padding: 0 !important; 
    line-height: 0 !important;
}
#contained-modal-title-vcenter{
    display: flex;
    justify-content: center;
}